+typographic

@font-face
  font-family: 'gidoleregular'
  src: url("fonts/gidole-regular.woff2") format("woff2"), url("fonts/gidole-regular.woff") format("woff"), url("fonts/gidole-regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

body
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
  font-weight: 400 !important

	#jumbo
		letter-spacing: -0.2em

	p,
	li,
	footer,
  table
		letter-spacing: 0.02em

	a
		color: inherit
		text-decoration: none
		background: -webkit-linear-gradient(top, $transparent 89.9%, $href-color 89%, $href-color 99.9%, $transparent 100%)
		background: linear-gradient(to bottom, $transparent 89.9%, $href-color 89%, $href-color 99.9%, $transparent 100%)
		-webkit-transition: background .2s ease
		transition: background .2s ease
	
		&:hover
			background-color: $href-color
			color: white

	::-moz-selection
		color: white
		background-color: $href-color

	::selection
		color: white
		background-color: $href-color