@import "../../assets/bower_components/typographic/scss/typographic.scss";

$body-font: 'Fira Sans', sans-serif;
$header-font: 'Fira Sans', sans-serif;
$body-color: hsl(204, 8%, 30%);
$header-color: darken($body-color, 35%);
$href-color: hsl(204, 100%, 85%);
$transparent: hsla(0, 0%, 0%, 0);
$min-font: 12px;
$max-font: 20px;
$line-height-ratio: 1.6;
$header-ratio: $minor-seventh;
$body-font-weight: 300;
$header-font-weight: 700;
$min-width: 400px;
$max-width: 820px;
