<footer>
  <div class="wrap">
    <p>© 2015 Andreas Larsen, free for private use. Sheets+guides are CC-BY-ND-4.0 and the code MIT. See <a href="https://github.com/andreaslarsen/animalnoteheads/blob/master/License.md">license</a> for details and contact me if you have any questions and/or want a full commercial license.</p>
    <p><a href="https://twitter.com/andreaslarsendk">@andreaslarsendk</a> // <a href="mailto:andreas@animalnoteheads.com">andreas@animalnoteheads.com</a>
    </p>
  </div>
</footer>