<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ page.author }}">
  <meta name="Description" content="{{ page.description }}">
  <meta name="Language" content="{{ page.language }}">
  <meta name="Copyright" content="&copy; {{ page.year }} {{ page.author }}">
  <meta name="robots" content="index, follow">

<!--  TWITTER-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ page.twitter }}">
  <meta name="twitter:title" content="{{ page.socialtitle }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="/assets/img/{{ page.image }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--  FACEBOOK-->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:url" content="http://animalnoteheads.com">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/{{ page.image }}">

<!--  WEB APP  -->
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Sheets">
  <meta name="viewport" content="initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">
  <link href="/assets/img/icon.png" rel="apple-touch-icon-precomposed">
  <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16" />

  <link rel="stylesheet" href="/assets/style.css">
  <link href='//fonts.googleapis.com/css?family=Fira+Sans:300,700&subset=latin,greek,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
  {% if page.title == "Animal Note Heads Sheets" %}
  <script src="/assets/bower_components/sortable/js/sortable.min.js"></script>
  {% endif %}
  <link rel="shortcut icon" href="">
</head>
