<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <META NAME="author" CONTENT="{{ page.author }}">
  <META NAME="Description" CONTENT="{{ page.description }}">
  <META NAME="Language" CONTENT="{{ page.language }}">
  <META NAME="Copyright" CONTENT="&copy; {{ page.year }} {{ page.author }}">
  <meta name="robots" content="index, follow">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ page.twitter }}">
  <meta name="twitter:title" content="{{ page.socialtitle }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="/assets/img/{{ page.image }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:url" content="http://animalnoteheads.com">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/{{ page.image }}">

  <link rel="stylesheet" href="/assets/style.css">
<!--  <link rel="stylesheet" href="../assets/style.css">-->
  <script src="/assets/bower_components/sortable/js/sortable.min.js"></script>
  <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  <link rel="shortcut icon" href="">
</head>