<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/js/social.min.js"></script>
<script src="/assets/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="/assets/bower_components/screenfull/dist/screenfull.js"></script>
<script src="/assets/bower_components/fastclick/lib/fastclick.js"></script>
<script>
  var socialLikesButtons = {
    github: {
      counterUrl: 'https://api.github.com/repos/andreaslarsen/animalnoteheads?callback=?',
      convertNumber: function (data) {
        return data.data.watchers_count;
      },
      clickUrl: 'https://github.com/andreaslarsen/animalnoteheads/'
    }
  };
  $(function () {
    FastClick.attach(document.body);
    $('#viewer').slick({
      arrows: false,
      dots: true,
      lazyLoad: 'progressive',
      slidesToScroll: 1
    });
    if (screenfull.enabled) {
      $('#toggle').addClass('visible')
      $('#toggle').click(function () {
        screenfull.toggle($('#fullscreen')[0]);
        if (screenfull.isFullscreen) {
          $('#smaller').addClass('visible')
          $('#bigger').removeClass('visible')
        } else {
          $('#bigger').addClass('visible')
          $('#smaller').removeClass('visible')
        }
      });
    };
  });
</script>