<p><div class="social-likes">
  <div class="facebook" title="Share link on Facebook"><img src="/assets/img/f.svg" /></div>
  <div class="twitter" data-via="andreaslarsendk" data-hashtags="AnimalNoteHeads" title="Share link on Twitter"><img src="/assets/img/twit.svg" /></div>
  <div class="plusone" title="Share link on Google+"><img src="/assets/img/g+.svg" /></div>
  <div class="pinterest" title="Share image on Pinterest" data-media="/assets/img/AnimalNoteHeadsMockup.png"><img src="/assets/img/pin.svg" /></div>
  <div class="github" title="Star on GitHub"><img src="/assets/img/git.svg" /></div>
</div></p>