<h3><div class="social-likes">
  <div class="facebook" title="Share link on Facebook">Like</div>
  <div class="twitter" data-via="andreaslarsendk" data-hashtags="AnimalNoteHeads" title="Share link on Twitter">Tweet</div>
  <div class="plusone" title="Share link on Google+">G+</div>
  <div class="pinterest" title="Share image on Pinterest" data-media="https://raw.githubusercontent.com/andreaslarsen/animalnoteheads/gh-pages/assets/img/AnimalNoteHeadsMockup.png">Pin</div>
  <div class="github" title="Star on GitHub">Stargaze</div>
</div></h3>