<h3>English</h3>
<table data-sortable>
  <thead>
    <tr>
      <th>Song title</th>
      <th>Date</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
  {% for post in site.categories.english %}
    <tr>
      <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
      <td>{{ post.date | date: "%-d/%-m/%Y" }}</td>
      <td>{{ post.difficulty }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<h3>Français</h3>
<table data-sortable>
  <thead>
    <tr>
      <th>Song title</th>
      <th>Date</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
  {% for post in site.categories.french %}
    <tr>
      <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
      <td>{{ post.date | date: "%-d/%-m/%Y" }}</td>
      <td>{{ post.difficulty }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>