.wrap
  table
    a
      background: none
      &:hover
        background: none
        color: inherit
  td, th
    padding: 0 0 !important
    width: 1 / 6 * 100%
    font-weight: 400
    &:first-child
      width: 2 / 3 * 100%

  th
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-touch-callout: none
    cursor: pointer

    &[data-sorted-direction="descending"]:after
      content: " ↑"

    &[data-sorted-direction="ascending"]:after
      content: " ↓"
  
  tr
    -webkit-transition: 0.6s ease
    transition: 0.6s ease

  tr:hover
      background-color: #f7f7f7
      -webkit-transition: 0.3s ease
      transition: 0.3s ease
      color: $header-color
  