$body-font: "gidoleregular", "sans-serif"
$header-font: "gidoleregular", "sans-serif"
$body-color: hsl(204, 8%, 28%)
$header-color: darken($body-color, 20%)
$href-color: hsl(204, 88%, 73%)
$transparent: hsla(0, 0%, 0%, 0)
$min-font: 14px
$max-font: 22px