/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 86, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 106, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 111, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
ol, ul {
  list-style: none; }

/* line 116, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
blockquote, q {
  quotes: none; }

/* line 123, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 128, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 594, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
html {
  font-family: "gidoleregular", "sans-serif";
  font-weight: 300;
  color: #42494d;
  font-size: 14px;
  line-height: 1.75em; }
  @media (min-width: 600px) {
    html {
      font-size: calc( 14px + (22 - 14) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    html {
      font-size: 22px; } }

/* line 605, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

/* line 612, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
p, blockquote, pre, address, dl, ol, ul, table {
  margin-bottom: 1.75em; }

/* line 616, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "gidoleregular", "sans-serif";
  font-weight: 500;
  color: #131516;
  clear: both; }

/* line 620, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1 {
  font-size: 32.49679px;
  margin-top: 0.9424em;
  line-height: 1.13088em;
  margin-bottom: 0.18848em; }
  @media (min-width: 600px) {
    h1 {
      font-size: calc( 32.49679px + (51.06638 - 32.49679) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h1 {
      font-size: 51.06638px;
      margin-top: 0.9424em;
      line-height: 1.13088em;
      margin-bottom: 0.18848em; } }

/* line 624, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h2 {
  font-size: 27.45984px;
  margin-top: 1.11527em;
  line-height: 1.33832em;
  margin-bottom: 0.24742em; }
  @media (min-width: 600px) {
    h2 {
      font-size: calc( 27.45984px + (43.15117 - 27.45984) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h2 {
      font-size: 43.15117px;
      margin-top: 1.11527em;
      line-height: 1.33832em;
      margin-bottom: 0.23856em; } }

/* line 628, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h3 {
  font-size: 23.20361px;
  margin-top: 1.31984em;
  line-height: 1.58381em;
  margin-bottom: 0.2981em; }
  @media (min-width: 600px) {
    h3 {
      font-size: calc( 23.20361px + (36.46281 - 23.20361) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h3 {
      font-size: 36.46281px;
      margin-top: 1.31984em;
      line-height: 1.58381em;
      margin-bottom: 0.28569em; } }

/* line 632, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h4 {
  font-size: 19.60708px;
  margin-top: 1.56194em;
  line-height: 1.87432em;
  margin-bottom: 0.36018em; }
  @media (min-width: 600px) {
    h4 {
      font-size: calc( 19.60708px + (30.81113 - 19.60708) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h4 {
      font-size: 30.81113px;
      margin-top: 1.56194em;
      line-height: 1.87432em;
      margin-bottom: 0.3428em; } }

/* line 636, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h5 {
  font-size: 16.56802px;
  margin-top: 1.84844em;
  line-height: 2.21813em;
  margin-bottom: 0.36969em; }
  @media (min-width: 600px) {
    h5 {
      font-size: calc( 16.56802px + (26.03545 - 16.56802) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h5 {
      font-size: 26.03545px;
      margin-top: 1.84844em;
      line-height: 2.21813em;
      margin-bottom: 0.36969em; } }

/* line 640, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h6 {
  font-size: 14px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.5em; }
  @media (min-width: 600px) {
    h6 {
      font-size: calc( 14px + (22 - 14) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    h6 {
      font-size: 22px;
      margin-top: 2.1875em;
      line-height: 2.625em;
      margin-bottom: 0.46875em; } }

/* line 644, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
blockquote {
  font-style: italic; }
  /* line 459, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  blockquote cite {
    display: block;
    font-style: normal; }

/* line 648, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
pre {
  padding: 0.875em;
  margin-bottom: 1.75em; }
  /* line 468, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  pre code {
    padding: 0; }

/* line 652, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0; }

/* line 656, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
big, small, sub, sup {
  line-height: 0; }

/* line 660, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

/* line 664, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
address {
  font-style: normal; }

/* line 668, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
dt {
  color: #131516;
  font-weight: bold; }

/* line 672, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
ul {
  padding-left: 1.1em; }

/* line 676, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
ol {
  padding-left: 1.4em; }

/* line 680, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.82955em; }
  @media (min-width: 1140px) {
    fieldset {
      margin-bottom: 2.08807em; } }
  /* line 498, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  fieldset button, fieldset input[type="submit"] {
    margin-bottom: 0; }

/* line 684, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
legend {
  color: #131516;
  font-weight: bold; }

/* line 688, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 14px;
  margin-bottom: 1.15341em; }
  @media (min-width: 600px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: calc( 14px + (22 - 14) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: 22px;
      margin-bottom: 0.5071em; } }

/* line 692, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.19318em; }
  @media (min-width: 600px) {
    input[type="submit"], button {
      font-size: calc( 14px + (22 - 14) * ((100vw - 600px) / (1140 - 600))); } }
  @media (min-width: 1140px) {
    input[type="submit"], button {
      font-size: 22px;
      margin-bottom: 1.3125em; } }

/* line 696, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.23864em; }

/* line 700, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.14773em; }
  @media (min-width: 1140px) {
    table {
      margin-bottom: 1.98864em; } }

/* line 704, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
th {
  text-align: left;
  color: #131516;
  padding: 0.21875em 0.875em; }
  @media (min-width: 1140px) {
    th {
      padding: 0.4375em 0.875em; } }

/* line 708, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
td {
  padding: 0.875em;
  padding: 0.21875em 0.875em; }
  @media (min-width: 1140px) {
    td {
      padding: 0.4375em 0.875em; } }

@font-face {
  font-family: 'gidoleregular';
  src: url("fonts/gidole-regular.woff2") format("woff2"), url("fonts/gidole-regular.woff") format("woff"), url("fonts/gidole-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 11, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 15, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body #jumbo {
    letter-spacing: -0.2em; }
  /* line 20, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body p, body li, body footer {
    letter-spacing: 0.05em; }
  /* line 23, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body a {
    color: #42494d;
    text-decoration: none;
    background: -webkit-linear-gradient(top, transparent 84.9%, #7ec6f7 85%, #7ec6f7 99.9%, transparent 100%);
    background: linear-gradient(to bottom, transparent 84.9%, #7ec6f7 85%, #7ec6f7 99.9%, transparent 100%);
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    /* line 31, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
    body a:hover {
      background-color: #7ec6f7;
      color: white; }
  /* line 35, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body ::-moz-selection {
    color: white;
    background-color: #7ec6f7; }
  /* line 39, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body ::selection {
    color: white;
    background-color: #7ec6f7; }

/* line 2, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_github {
  color: #42494d; }
/* line 5, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_facebook {
  color: #3d5b95; }
/* line 8, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_twitter {
  color: #24aadd; }
/* line 11, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_plusone {
  color: #d23e30; }
/* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_pinterest {
  color: #cb132d; }
/* line 17, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget {
  text-decoration: none !important;
  background: none !important;
  display: inline-block;
  cursor: pointer;
  padding-right: 0.2em; }
/* line 24, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__counter:not(.social-likes__counter_empty) {
  padding-left: 0.2em; }

/* line 2, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap td, .wrap th {
  padding: 0 0 !important;
  width: 16.66667%;
  font-weight: 400; }
  /* line 6, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap td:first-child, .wrap th:first-child {
    width: 66.66667%; }
/* line 9, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  cursor: pointer; }
  /* line 19, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th:after {
    content: "";
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin-right: 1px;
    margin-left: 10px;
    float: right; }
  /* line 33, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th[data-sorted="true"]:after {
    visibility: visible; }
  /* line 36, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th[data-sorted-direction="descending"]:after {
    border-top-color: inherit;
    margin-top: 8px; }
  /* line 40, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th[data-sorted-direction="ascending"]:after {
    border-bottom-color: inherit;
    margin-top: 3px; }

/* line 8, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
img {
  max-width: 100%; }

/* line 11, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ol {
  list-style: decimal; }
  /* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ol > li:nth-child(1) {
    text-decoration: line-through; }
  /* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ol > li:nth-child(2) {
    text-decoration: line-through; }

/* line 17, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ul {
  list-style: disc; }
  /* line 19, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ul ul {
    list-style: circle; }

/* line 24, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ul, ol, p {
  margin-bottom: 0; }

/* line 27, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#jumbobg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background: url("img/jumbo1.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; }

/* line 43, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#jumbo {
  height: 70vh;
  padding-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: black;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%); }
  /* line 52, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo div * {
    margin: 0; }
  /* line 54, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo h1 {
    font-size: 11vw; }
  /* line 56, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo p {
    font-size: 4vw; }

/* line 59, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.bg {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 30vh); }

/* line 62, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
footer {
  background: rgba(255, 255, 255, 0.9);
  color: #8b969c; }
  /* line 65, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  footer a {
    color: #8b969c; }

/* line 68, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px 10vh;
  z-index: 2; }
  /* line 73, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  .wrap h3:first-child {
    margin-top: 0; }

/* line 77, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#contri img {
  height: 2.625em;
  vertical-align: middle;
  margin: 0.4375em 10px 0.4375em 0; }
/* line 81, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#contri > span {
  display: inline-block;
  position: relative; }
  /* line 84, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #contri > span > span {
    display: inline-block;
    vertical-align: middle; }

/*# sourceMappingURL=style.css.map */