@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 86, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 106, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 111, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
ol, ul {
  list-style: none; }

/* line 116, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
blockquote, q {
  quotes: none; }

/* line 123, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 128, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/reset-scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 594, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
html {
  font-family: "gidoleregular", "sans-serif";
  font-weight: 400;
  color: #525b60;
  font-size: 12px;
  line-height: 1.6em; }
  @media (min-width: 400px) {
    html {
      font-size: calc( 12px + (20 - 12) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    html {
      font-size: 20px; } }

/* line 605, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

/* line 612, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
p, blockquote, pre, address, dl, ol, ul, table {
  margin-bottom: 1.6em; }

/* line 616, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "gidoleregular", "sans-serif";
  font-weight: 500;
  color: black;
  clear: both; }

/* line 620, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h1 {
  font-size: 32.852px;
  margin-top: 0.73055em;
  line-height: 0.87666em;
  margin-bottom: 0.14611em; }
  @media (min-width: 400px) {
    h1 {
      font-size: calc( 32.852px + (54.75333 - 32.852) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h1 {
      font-size: 54.75333px;
      margin-top: 0.73055em;
      line-height: 0.87666em;
      margin-bottom: 0.14611em; } }

/* line 624, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h2 {
  font-size: 26.85874px;
  margin-top: 0.89356em;
  line-height: 1.07228em;
  margin-bottom: 0.19867em; }
  @media (min-width: 400px) {
    h2 {
      font-size: calc( 26.85874px + (44.76457 - 26.85874) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h2 {
      font-size: 44.76457px;
      margin-top: 0.89356em;
      line-height: 1.07228em;
      margin-bottom: 0.19069em; } }

/* line 628, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h3 {
  font-size: 21.95885px;
  margin-top: 1.09295em;
  line-height: 1.31154em;
  margin-bottom: 0.24845em; }
  @media (min-width: 400px) {
    h3 {
      font-size: calc( 21.95885px + (36.59808 - 21.95885) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h3 {
      font-size: 36.59808px;
      margin-top: 1.09295em;
      line-height: 1.31154em;
      margin-bottom: 0.23651em; } }

/* line 632, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h4 {
  font-size: 17.95285px;
  margin-top: 1.33683em;
  line-height: 1.6042em;
  margin-bottom: 0.31205em; }
  @media (min-width: 400px) {
    h4 {
      font-size: calc( 17.95285px + (29.92142 - 17.95285) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h4 {
      font-size: 29.92142px;
      margin-top: 1.33683em;
      line-height: 1.6042em;
      margin-bottom: 0.29417em; } }

/* line 636, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h5 {
  font-size: 14.67768px;
  margin-top: 1.63514em;
  line-height: 1.96216em;
  margin-bottom: 0.32703em; }
  @media (min-width: 400px) {
    h5 {
      font-size: calc( 14.67768px + (24.4628 - 14.67768) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h5 {
      font-size: 24.4628px;
      margin-top: 1.63514em;
      line-height: 1.96216em;
      margin-bottom: 0.32703em; } }

/* line 640, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
h6 {
  font-size: 12px;
  margin-top: 2em;
  line-height: 2.4em;
  margin-bottom: 0.46667em; }
  @media (min-width: 400px) {
    h6 {
      font-size: calc( 12px + (20 - 12) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    h6 {
      font-size: 20px;
      margin-top: 2em;
      line-height: 2.4em;
      margin-bottom: 0.43333em; } }

/* line 644, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
blockquote {
  font-style: italic; }
  /* line 459, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  blockquote cite {
    display: block;
    font-style: normal; }

/* line 648, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
pre {
  padding: 0.8em;
  margin-bottom: 1.6em; }
  /* line 468, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  pre code {
    padding: 0; }

/* line 652, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.08em 0.24em;
  line-height: 0; }

/* line 656, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
big, small, sub, sup {
  line-height: 0; }

/* line 660, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

/* line 664, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
address {
  font-style: normal; }

/* line 668, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
dt {
  color: black;
  font-weight: bold; }

/* line 672, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
ul {
  padding-left: 1.1em; }

/* line 676, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
ol {
  padding-left: 1.4em; }

/* line 680, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
fieldset {
  padding: 0.8em 1.6em 1.6em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.68em; }
  @media (min-width: 820px) {
    fieldset {
      margin-bottom: 1.9em; } }
  /* line 498, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
  fieldset button, fieldset input[type="submit"] {
    margin-bottom: 0; }

/* line 684, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
legend {
  color: black;
  font-weight: bold; }

/* line 688, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4em;
  font-size: 12px;
  margin-bottom: 1.08em; }
  @media (min-width: 400px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: calc( 12px + (20 - 12) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: 20px;
      margin-bottom: 0.47em; } }

/* line 692, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 12px;
  padding: 0.4em 1.6em;
  margin-bottom: 1.08em; }
  @media (min-width: 400px) {
    input[type="submit"], button {
      font-size: calc( 12px + (20 - 12) * ((100vw - 400px) / (820 - 400))); } }
  @media (min-width: 820px) {
    input[type="submit"], button {
      font-size: 20px;
      margin-bottom: 1.2em; } }

/* line 696, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
label {
  display: block;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em; }

/* line 700, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2em; }
  @media (min-width: 820px) {
    table {
      margin-bottom: 1.84em; } }

/* line 704, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
th {
  text-align: left;
  color: black;
  padding: 0.2em 0.8em; }
  @media (min-width: 820px) {
    th {
      padding: 0.4em 0.8em; } }

/* line 708, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/bower_components/typographic/scss/typographic.scss */
td {
  padding: 0.8em;
  padding: 0.2em 0.8em; }
  @media (min-width: 820px) {
    td {
      padding: 0.4em 0.8em; } }

@font-face {
  font-family: 'gidoleregular';
  src: url("fonts/gidole-regular.woff2") format("woff2"), url("fonts/gidole-regular.woff") format("woff"), url("fonts/gidole-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 9, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing-font-weight: 400 !important; }
  /* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body #jumbo {
    letter-spacing: -0.2em; }
  /* line 19, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body p, body li, body footer {
    letter-spacing: 0.02em; }
  /* line 23, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body a {
    color: inherit;
    text-decoration: none;
    background: -webkit-linear-gradient(top, transparent 89.9%, #7ec6f7 89%, #7ec6f7 99.9%, transparent 100%);
    background: linear-gradient(to bottom, transparent 89.9%, #7ec6f7 89%, #7ec6f7 99.9%, transparent 100%);
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    /* line 31, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
    body a:hover {
      background-color: #7ec6f7;
      color: white; }
  /* line 35, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body ::-moz-selection {
    color: white;
    background-color: #7ec6f7; }
  /* line 39, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/typography.sass */
  body ::selection {
    color: white;
    background-color: #7ec6f7; }

/* line 3, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget {
  text-decoration: none !important;
  background: none !important;
  display: inline-block;
  cursor: pointer;
  padding-right: 0.2em; }
/* line 10, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__counter:not(.social-likes__counter_empty) {
  padding-left: 0.2em; }
/* line 13, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_twitter {
  color: #55acee; }
/* line 16, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__icon_twitter {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" stroke-linejoin="round"><path d="M100 20c0-11-9-20-20-20l-60 0c-11 0-20 9-20 20l0 60c0 11 9 20 20 20l60 0c11 0 20-9 20-20l0-60ZM36.5 79.7c-8.5 0-16.3-2.5-23-6.7 1.2 0.1 2.4 0.2 3.6 0.2 7 0 13.5-2.4 18.6-6.4 -6.6-0.1-12.1-4.5-14-10.4 0.9 0.2 1.9 0.3 2.8 0.3 1.4 0 2.7-0.2 3.9-0.5 -6.9-1.4-12-7.4-12-14.7 0-0.1 0-0.1 0-0.2 2 1.1 4.3 1.8 6.8 1.9 -4-2.7-6.7-7.3-6.7-12.5 0-2.7 0.7-5.3 2-7.5 7.4 9.1 18.4 15 30.9 15.6 -0.3-1.1-0.4-2.2-0.4-3.4 0-8.3 6.7-15 15-15 4.3 0 8.2 1.8 10.9 4.7 3.4-0.7 6.6-1.9 9.5-3.6 -1.1 3.5-3.5 6.4-6.6 8.3 3-0.4 5.9-1.2 8.6-2.4 -2 3-4.5 5.6-7.5 7.8 0 0.6 0 1.3 0 1.9 0 19.8-15.1 42.6-42.6 42.6Z" fill="#55acee"/></svg>'); }
/* line 19, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_plusone {
  color: #dd4b39; }
/* line 22, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__icon_plusone {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" stroke-linejoin="round"><path d="M100 20c0-11-9-20-20-20l-60 0c-11 0-20 9-20 20l0 60c0 11 9 20 20 20l60 0c11 0 20-9 20-20l0-60ZM41.6 60.2c-0.5 0-1.2 0.1-2 0.2 -1.6 0.2-3.3 0.6-5 1.1 -0.4 0.2-1 0.4-1.7 0.7 -0.7 0.3-1.5 0.8-2.2 1.4 -0.7 0.6-1.3 1.4-1.8 2.4 -0.6 1-0.9 2.2-0.9 3.6 0 2.8 1.3 5.1 3.8 6.9 2.4 1.8 5.7 2.7 9.8 2.8l1.4-0.1c3.1-0.2 5.5-1 7.2-2.4 1.9-1.6 2.9-3.6 2.9-6.1 0-2-0.7-3.8-2-5.3 -1.4-1.4-3.5-3.2-6.5-5.2 -0.5-0.1-1.1-0.1-1.8-0.1l-1.1 0ZM75.9 51.8l0 8.3 -4.9 0 0-8.3 -8.3 0 0-0.2 -0.1 0 0-4.7 8.4 0 0-8.5 4.9 0 0 8.5 8.3 0 0 0 0.2 0 0 4.9 -8.5 0ZM37.8 82.6c-5.5-0.1-9.7-1.2-12.4-3.5 -2.8-2.2-4.1-4.7-4.1-7.8 0-1.5 0.4-3.1 1.3-4.9 0.9-1.8 2.4-3.4 4.7-4.7 2.6-1.5 5.2-2.4 8.1-2.9 2.8-0.4 5.1-0.6 6.9-0.7 -0.6-0.8-1.1-1.6-1.5-2.4 -0.5-0.8-0.8-1.8-0.8-3 0-0.7 0.1-1.3 0.3-1.7l0.5-1.4 -2.5 0.2c-4.2-0.1-7.4-1.4-9.6-4 -2.3-2.4-3.5-5.2-3.5-8.5 0-3.9 1.6-7.4 4.9-10.6 2.2-1.9 4.6-3.1 7-3.6 2.4-0.5 4.6-0.7 6.7-0.7l15.8 0 -4.9 2.9 -4.9 0c0.5 0.3 1.1 0.8 1.7 1.4 0.6 0.6 1.2 1.4 1.7 2.3 0.5 0.9 1 1.9 1.4 3 0.3 1.2 0.5 2.5 0.5 4.1 0 2.8-0.7 5.1-1.9 6.8 -0.6 0.8-1.2 1.6-1.9 2.3 -0.7 0.7-1.5 1.4-2.3 2.1 -0.5 0.5-0.9 1-1.3 1.7 -0.5 0.6-0.7 1.4-0.7 2.2 0 0.8 0.2 1.5 0.7 2 0.4 0.5 0.8 1 1.2 1.4l2.7 2.2c1.7 1.4 3.1 2.9 4.4 4.5 1.2 1.7 1.8 3.9 1.8 6.6 0 3.8-1.7 7.2-5.1 10.2 -3.1 2.7-7.3 4.2-12.8 4.6l-2.4 0.1ZM38.9 24.9c-2.1 0.1-3.9 0.9-5.3 2.6 -1.2 1.8-1.8 3.7-1.7 5.9 0 2.9 0.8 5.8 2.5 8.9 0.8 1.4 1.9 2.7 3.1 3.7 1.3 1 2.7 1.5 4.4 1.5l1.5-0.2c1.4-0.3 2.7-1 3.7-2.1 0.7-1 1.1-2 1.3-3.1 0.1-1.1 0.2-1.9 0.2-2.7 0-3.1-0.8-6.3-2.4-9.4 -0.7-1.5-1.7-2.8-2.9-3.7 -0.9-0.7-2-1.1-3.1-1.3l-1.2-0.1Z" fill="#dd4b39"/></svg>'); }
/* line 25, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_github {
  color: #4c4d4c; }
/* line 28, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__icon_github {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" stroke-linejoin="round"><path d="M33.8 100l-13.8 0c-11 0-20-9-20-20l0-60c0-11 9-20 20-20l60 0c11 0 20 9 20 20l0 60c0 11-9 20-20 20l-13.7 0 0-0.1c-2.6 0.5-3.5-1.1-3.5-2.5 0-1.7 0.1-7.2 0.1-14.1 0-4.8-1.6-7.9-3.5-9.5 11.4-1.3 23.4-5.6 23.4-25.3 0-5.6-2-10.2-5.3-13.8 0.5-1.3 2.3-6.5-0.5-13.6 0 0-4.3-1.4-14.1 5.3 -4.1-1.1-8.5-1.7-12.8-1.7 -4.4 0-8.7 0.6-12.8 1.7 -9.8-6.6-14.1-5.3-14.1-5.3 -2.8 7.1-1 12.3-0.5 13.6 -3.3 3.6-5.3 8.2-5.3 13.8 0 19.6 12 24 23.4 25.3 -1.5 1.3-2.8 3.5-3.3 6.9 -2.9 1.3-10.3 3.6-14.9-4.3 0 0-2.7-4.9-7.9-5.3 0 0-5-0.1-0.3 3.1 0 0 3.4 1.6 5.7 7.5 0 0 3 10 17.3 6.9 0 4.3 0.1 7.5 0.1 8.7 0 1.4-0.9 2.9-3.5 2.5l0 0.1Z" fill="#4c4d4c"/></svg>'); }
/* line 31, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_facebook {
  color: #3b5a9b; }
/* line 34, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__icon_facebook {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" stroke-linejoin="round"><path d="M53 100H20C9 100 0 91 0 80V20C0 8 8 0 20 0h60c11 0 20 8 20 20v60c0 11-9 20-20 20H69V61h13l2-15H69v-10c0-4 1-7 7-7l8 0V16c-1 0-6-1-12-1-12 0-19 7-19 20v11H40v15h13V100z" fill="#3b5a9b"/></svg>'); }
/* line 37, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__widget_pinterest {
  color: #bd2025; }
/* line 40, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/social.sass */
.wrap .social-likes__icon_pinterest {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" stroke-linejoin="round"><path d="M31 100l-11 0c-11 0-20-9-20-20l0-60c0-11 9-20 20-20l60 0c11 0 20 9 20 20l0 60c0 11-9 20-20 20l-45.4 0c2.1-3.5 5.3-9.1 6.4-13.6 0.6-2.5 3.3-12.5 3.3-12.5 1.7 3.3 6.7 6 12 6 15.8 0 27.2-14.6 27.2-32.7 0-17.3-14.2-30.3-32.4-30.3 -22.7 0-34.7 15.2-34.7 31.8 0 7.7 4.1 17.3 10.7 20.3 1 0.5 1.5 0.3 1.8-0.7 0.2-0.7 1.1-4.3 1.5-6 0.1-0.5 0.1-1-0.4-1.5 -2.2-2.6-3.9-7.5-3.9-12 0-11.6 8.8-22.8 23.7-22.8 12.9 0 21.9 8.8 21.9 21.4 0 14.2-7.2 24-16.5 24 -5.2 0-9-4.3-7.8-9.5 1.5-6.2 4.3-13 4.3-17.5 0-4-2.2-7.4-6.6-7.4 -5.3 0-9.5 5.5-9.5 12.8 0 4.7 1.6 7.8 1.6 7.8 0 0-5.2 22-6.2 26.1 -1.1 4.7-0.5 11.9-0.1 16.2Z" fill="#bd2025"/></svg>'); }

/* line 3, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap table a {
  background: none; }
  /* line 5, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap table a:hover {
    background: none;
    color: inherit; }
/* line 8, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap td, .wrap th {
  padding: 0 0 !important;
  width: 16.66667%;
  font-weight: 400; }
  /* line 12, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap td:first-child, .wrap th:first-child {
    width: 66.66667%; }
/* line 15, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  cursor: pointer; }
  /* line 25, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th[data-sorted-direction="descending"]:after {
    content: " ↓"; }
  /* line 28, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
  .wrap th[data-sorted-direction="ascending"]:after {
    content: " ↑"; }
/* line 31, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap tr {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease; }
/* line 35, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/table.sass */
.wrap tr:hover {
  background-color: #f7f7f7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: black; }

/* line 8, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
img {
  max-width: 100%; }

/* line 11, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ol {
  list-style: decimal; }
  /* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ol > li:nth-child(1) {
    text-decoration: line-through; }
  /* line 14, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ol > li:nth-child(2) {
    text-decoration: line-through; }

/* line 17, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ul {
  list-style: disc; }
  /* line 19, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  ul ul {
    list-style: circle; }

/* line 24, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
ul, ol, p {
  margin-bottom: 0; }

/* line 27, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#jumbobg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background: url("img/jumbo1.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1; }

/* line 43, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#jumbo {
  height: 70vh;
  padding-top: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: black;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%); }
  /* line 52, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo div * {
    margin: 0; }
  /* line 54, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo h1 {
    font-size: 11vw; }
  /* line 56, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #jumbo p {
    font-size: 4vw; }

/* line 59, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.bg {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 30vh); }

/* line 62, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
footer {
  background: rgba(255, 255, 255, 0.9);
  color: #9fa7ad; }
  /* line 65, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  footer a {
    color: #9fa7ad; }

/* line 68, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 10px 10vh;
  z-index: 2; }
  /* line 73, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  .wrap h3:first-child {
    margin-top: 0; }

/* line 76, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.social-likes__icon {
  height: 1.6em;
  width: 1.6em;
  display: inline-block; }

/* line 81, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
.social-likes__counter:not(.social-likes__counter_empty) {
  display: inline-block;
  -webkit-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
  transform: translateY(-1em); }

/* line 88, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#contri img {
  height: 2.4em;
  vertical-align: middle;
  margin: 0.4em 10px 0.4em 0; }
/* line 92, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
#contri > span {
  display: inline-block;
  position: relative; }
  /* line 95, /Users/andreaslarsen/Git/AnimalNoteHeads webpage/_sass/style.sass */
  #contri > span > span {
    display: inline-block;
    vertical-align: middle; }

/*# sourceMappingURL=style.css.map */