@import '../bower_components/reset-scss/reset.scss';
@import '../bower_components/sass-flex-mixin/_flexbox';
@import 'variables';
@import 'typography';
@import 'social';

img {
  max-width: 100%;
}

ol {
  list-style: decimal;
  @for $i from 1 through 2 {
    > li:nth-child(#{$i}) {
      text-decoration: line-through;
    }
  }
}

ul {
  list-style: disc;
  ul {
    list-style: circle;
  }
}

ul,
ol,
p {
  margin-bottom: 0;
}

#jumbobg {
  position: absolute;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100%;  
  background: url('img/jumbo1.jpg') no-repeat center bottom fixed;
  background-size: cover;
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150vh;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0.9) 63%, hsla(0, 0%, 100%, 1) 100%);
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0.9) 63%, hsla(0, 0%, 100%, 1) 100%);
  }
}

#jumbo {
  height: 70vh;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  color: darken($header-color, 20%);
  div {
    * {
      margin: 0;
    }
  }
  h1 {
    font-size: 11vw;
  }
  p {
    font-size: 4vw;
  }
}

.wrap {
  max-width: 800px;
  margin: 0 auto 20vh;
  padding: 0 10px;
  z-index: 2;
}

#contri {
  img {
    height: vr-block(1.5);
    vertical-align: middle;
    margin: vr-block(.25) 10px vr-block(.25) 0;
  }
  > span {
    display: inline-block;
    position:relative;
    > span {
      display:inline-block; 
      vertical-align:middle 
    }
  }
}