@font-face {
  font-family: 'Comic Neue Angular';
  src: url('fonts/ComicNeue-Angular-Light.eot');
  src: url('fonts/ComicNeue-Angular-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ComicNeue-Angular-Light.woff') format('woff'), url('fonts/ComicNeue-Angular-Light.woff2') format('woff2'), url('fonts/ComicNeue-Angular-Light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('fonts/ComicNeue-Bold.eot');
  src: url('fonts/ComicNeue-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/ComicNeue-Bold.woff') format('woff'), url('fonts/ComicNeue-Bold.woff2') format('woff2'), url('fonts/ComicNeue-Bold.ttf') format('truetype');
  font-weight: 700;
}

$font-sans: 'Comic Neue',
sans-serif;
$font-serif: 'Comic Neue Angular',
sans-serif;
$font-mono: 'Lucida Console',
Monaco,
monospace;$text-color: #000;
$base-vertical-unit: 10px;
$base-line-multi: 4;
$base-font-size: 32px;
$ms-ratio: 1.414;
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: true;
@import '../bower_components/typesettings/_typesettings.scss';
body {
  font-weight: 100;
}

.wrap {
  h1 {
    font-size: 8vw;
  }
}