<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% if page.title == "Animal Note Heads" %}
  <div id="jumbobg"></div>
  <div id="jumbo">
    <div>
      <h1>{{ page.title }}</h1>
      <p>{{ page.tag }}</p>
    </div>
  </div>
  {% endif %}
  <div class="bg">
    <div class="wrap">
      {% if page.title != "Animal Note Heads" %}<h1>{{ page.title }}</h1>{% endif %}
      {{ content }}
      {% if page.title == "Animal Note Heads Sheets" %}{% include tables.html %}<div id="status"></div>
      {% endif %}
    </div>
  </div>
{% include scripts.html %}
{% include footer.html %}
</body>

</html>
