<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="jumbo">
    <div>
      <h1>{{ page.title }}</h1>
      <p>{{ page.tag }}</p>
    </div>
  </div>
  <div class="wrap">
<div class="social-likes">
	<div class="facebook" title="Share link on Facebook">Facebook</div>
	<div class="twitter" data-via="andreaslarsendk" data-hashtags="AnimalNoteHeads" title="Share link on Twitter">Twitter</div>
	<div class="plusone" title="Share link on Google+">Google+</div>
	<div class="pinterest" title="Share image on Pinterest" data-media="https://raw.githubusercontent.com/andreaslarsen/animalnoteheads/gh-pages/assets/img/AnimalNoteHeadsMockup.png">Pinterest</div>
</div>
    {{ content }}
  </div>
  <footer>&copy; 2015 Andreas Larsen<br><div class="img"></div></footer>
  <script src="assets/js/jquery.v2.1.min.js"></script>
  <script src="assets/js/social.min.js"></script>
</body>

</html>